@use "src/style/_vars";

.line_editing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80vw;

  border-bottom: 2px solid grey;

  padding-top: 8px;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

// .input {
//   justify-self: self-start;
//   width: 10vw;

//   .error {
//     border: 2px solid red;
//   }
// }

.button {
  cursor: pointer;

  border: none;

  color: vars.$color-text-white;
  transition: background-color 0.6s;

  &:hover {
    transition: background-color 0.8s;
  }
}

.button_save {
  background-color: vars.$color-focus;

  &:hover {
    background-color: rgba(vars.$color-focus, 0.66);
    transition: background-color 0.8s;
  }
}

.button_cancel {
  background-color: vars.$color-warning;

  &:hover {
    background-color: rgba(vars.$color-warning, 0.66);
    transition: background-color 0.8s;
  }
}

.button_inactive {
  background-color: vars.$color-default;
  cursor: default;
  &:hover {
    background-color: rgba(vars.$color-default, 0.66);
    transition: background-color 0.8s;
  }
}
