@font-face {
  font-family: "Raleway";
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 100 900;
  src: url(../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf)
    format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-stretch: 75% 125%;
  font-style: italic;
  font-weight: 100 900;
  src: url(../assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf)
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 100 900;
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-stretch: 75% 125%;
  font-style: italic;
  font-weight: 100 900;
  src: url(../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)
    format("woff2");
}

// Istok Web Regular Normal
@font-face {
  font-family: "Istok Web";
  src: local("Istok Web"), local("Istok-Web"),
    url("../assets/fonts/Istok_Web/IstokWeb-Regular.woff") format("woff"),
    url("../assets/fonts/Istok_Web/IstokWeb-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

// Istok Web Regular Italic
@font-face {
  font-family: "Istok Web";
  src: local("Istok Web"), local("Istok-Web"),
    url("../assets/fonts/Istok_Web/IstokWeb-Italic.woff") format("woff"),
    url("../assets/fonts/Istok_Web/IstokWeb-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

// Istok Web Bold Normal
@font-face {
  font-family: "Istok Web";
  src: local("Istok Web Bold"), local("Istok-Web-Bold"),
    url("../assets/fonts/Istok_Web/IstokWeb-Bold.woff") format("woff"),
    url("../assets/fonts/Istok_Web/IstokWeb-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

// Istok Web Bold Italic
@font-face {
  font-family: "Istok Web";
  src: local("Istok Web Bold"), local("Istok-Web-Bold"),
    url("../assets/fonts/Istok_Web/IstokWeb-BoldItalic.woff") format("woff"),
    url("../assets/fonts/Istok_Web/IstokWeb-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}
