$font-texts: "Raleway";
$font-titles: "Montserrat";
$font-subtitles: "Istok Web";
$font-btns: "Istok Web";

$color-primary: #252422;
$color-warning: #dc972c;
$color-info: #3c3d3b;
$color-text-white: #ebede5;
$color-error: #f44336;
$color-focus: #5fa864;
$color-primary-2: #8b9694;
$color-default: #999999;

$clr-bg-frame: #f2eeed;
