.slider_wrapper {
  display: flex;
}

.slider_btn {
  // width: 3vw;
  // height: 3vw;
  // border-radius: 50%;
  border: none;
  background-color: #ffffff00;
}

.slider_arrow {
  max-width: 100%;
  object-fit: contain;
}
